	<div class="landingpage remove-p-margin">
		<div class="row">
			<div class="five columns">
				<section id="avatar">
					<img class="avatar" src="{{.Site.Params.avatar}}">
				</section>
			</div>
			<div class="seven columns">
			<div class="autocenter">
				<section id="bio">
					<h3>{{ .Site.Params.author }}</h3>
					<p class="reset-margin">{{ .Site.Params.bio | markdownify }}</p>
				</section>
				<section id="contact">
					<div class="icons">
					<h3>
						{{ with .Site.Params.contact.email }}<a class="icon" href="mailto:{{ . }}">
							<i class="fas fa-envelope" aria-hidden="true"></i>
						</a>{{ end }}
						{{ with .Site.Params.contact.pgp }}<a class="icon" href="https://dwallraff.com/dwallraff.gpg">
							<i class="fas fa-lock" aria-hidden="true"></i>
						</a>{{ end }}
						{{ with .Site.Params.contact.linkedin }}<a class="icon" href="https://linkedin.com/in/{{ . }}" target="_blank">
							<i class="fab fa-linkedin" aria-hidden="true"></i>
						</a>{{ end }}
						{{ with .Site.Params.contact.github }}<a class="icon" href="https://github.com/{{ . }}" target="_blank">
							<i class="fab fa-github" aria-hidden="true"></i>
						</a>{{ end }}
						{{ with .Site.Params.contact.keybase }}<a class="icon" href="https://keybase.io/{{ . }}" target="_blank">
							<i class="fab fa-keybase" aria-hidden="true"></i>
						</a>{{ end }}
						{{ with .Site.Params.contact.ssh }}<a class="icon" href="https://dwallraff.com/dwallraff_ssh.pub" target="_blank">
							<i class="fas fa-terminal" aria-hidden="true"></i>
						</a>{{ end }}
					</h3>
					</div>
				</section>
			</div>
			</div>
		</div>
	</div>
